-- CreateEnum
CREATE TYPE "DevicePlatform" AS ENUM ('ANDROID', 'IOS');

-- CreateEnum
CREATE TYPE "UserReportReason" AS ENUM ('ABUSIVE_LANGUAGE', 'HARASSMENT', 'SPAM', 'FRAUD_OR_SCAM', 'SEXUAL_OR_INAPPROPRIATE_CONTENT', 'HATE_OR_THREATS', 'OFF_PLATFORM_PAYMENT', 'IMPERSONATION', 'OTHER');

-- CreateEnum
CREATE TYPE "UserReportStatus" AS ENUM ('OPEN', 'UNDER_REVIEW', 'ACTION_TAKEN', 'DISMISSED');

-- CreateEnum
CREATE TYPE "SupportTicketStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'WAITING_FOR_CUSTOMER', 'RESOLVED', 'CLOSED');

-- CreateEnum
CREATE TYPE "SupportTicketPriority" AS ENUM ('LOW', 'NORMAL', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "SupportTicketCategory" AS ENUM ('GENERAL', 'CONSULTATION', 'PAYMENT', 'WALLET', 'ACCOUNT', 'ASTROLOGER', 'TECHNICAL', 'ASSISTANT_ESCALATION', 'OTHER');

-- CreateEnum
CREATE TYPE "SupportSenderType" AS ENUM ('CUSTOMER', 'ADMIN', 'SYSTEM');

-- CreateEnum
CREATE TYPE "AssistantConversationStatus" AS ENUM ('ACTIVE', 'ESCALATED', 'CLOSED');

-- CreateEnum
CREATE TYPE "AssistantSenderType" AS ENUM ('CUSTOMER', 'ASSISTANT', 'ADMIN', 'SYSTEM');

-- CreateEnum
CREATE TYPE "FeedbackCategory" AS ENUM ('GENERAL', 'APP_EXPERIENCE', 'ASTROLOGY_CONTENT', 'PAYMENT', 'CONSULTATION', 'TECHNICAL', 'SUGGESTION', 'OTHER');

-- CreateEnum
CREATE TYPE "FeedbackStatus" AS ENUM ('NEW', 'REVIEWED', 'RESOLVED');

-- AlterEnum
ALTER TYPE "LedgerReferenceType" ADD VALUE 'AI_ASTRO_USAGE';

-- AlterEnum
ALTER TYPE "LedgerType" ADD VALUE 'AI_ASTRO_DEDUCTION';

-- AlterTable
ALTER TABLE "Astrologer" ADD COLUMN     "aiAvatarUrl" TEXT;

-- AlterTable
ALTER TABLE "CallSession" ADD COLUMN     "astrologyCategorySlug" TEXT,
ADD COLUMN     "astrologyQuestionId" TEXT,
ADD COLUMN     "astrologyQuestionText" TEXT,
ADD COLUMN     "isFreeChat" BOOLEAN NOT NULL DEFAULT false;

-- AlterTable
ALTER TABLE "Review" ADD COLUMN     "callSessionId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "Subscription" ALTER COLUMN "amount" SET DATA TYPE DECIMAL(12,3);

-- AlterTable
ALTER TABLE "SubscriptionPlan" ALTER COLUMN "price" SET DATA TYPE DECIMAL(12,3);

-- AlterTable
ALTER TABLE "User" ADD COLUMN     "freeChatGrantedAt" TIMESTAMP(3),
ADD COLUMN     "freeChatMinutes" INTEGER NOT NULL DEFAULT 1,
ADD COLUMN     "freeChatUsedAt" TIMESTAMP(3),
ALTER COLUMN "roleId" DROP DEFAULT;

-- AlterTable
ALTER TABLE "UserProfile" ADD COLUMN     "lang" TEXT NOT NULL DEFAULT 'en';

-- AlterTable
ALTER TABLE "astrologer_earnings" ADD COLUMN     "payoutId" TEXT;

-- AlterTable
ALTER TABLE "astrologer_payouts" ADD COLUMN     "bankAccountId" TEXT,
ADD COLUMN     "idempotencyKey" TEXT,
ADD COLUMN     "lastWebhookAt" TIMESTAMP(3),
ADD COLUMN     "providerStatus" TEXT,
ADD COLUMN     "providerStatusDetails" JSONB;

-- AlterTable
ALTER TABLE "chat_messages" ADD COLUMN     "attachmentPath" TEXT,
ADD COLUMN     "encryptedContent" TEXT,
ADD COLUMN     "encryptionMac" TEXT,
ADD COLUMN     "encryptionNonce" TEXT,
ADD COLUMN     "encryptionVersion" INTEGER,
ADD COLUMN     "replyToMessageId" TEXT;

-- CreateTable
CREATE TABLE "kundli_saved_records" (
    "id" TEXT NOT NULL,
    "kundliId" TEXT NOT NULL,
    "createdByAstrologerId" TEXT NOT NULL,
    "customerUserId" TEXT,
    "name" TEXT NOT NULL,
    "gender" "Gender",
    "birthPlace" TEXT,
    "lang" TEXT NOT NULL DEFAULT 'en',
    "idempotencyKey" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "kundli_saved_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "astrologer_bank_accounts" (
    "id" TEXT NOT NULL,
    "astrologerId" TEXT NOT NULL,
    "accountHolderName" TEXT NOT NULL,
    "accountNumberLast4" TEXT NOT NULL,
    "ifsc" TEXT NOT NULL,
    "bankName" TEXT,
    "providerContactId" TEXT,
    "providerFundAccountId" TEXT,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "astrologer_bank_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_preferences" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "chartStyle" TEXT NOT NULL DEFAULT 'NORTH_INDIAN',
    "monthType" TEXT NOT NULL DEFAULT 'AMANT',
    "darkMode" BOOLEAN NOT NULL DEFAULT false,
    "hideOuterPlanets" BOOLEAN NOT NULL DEFAULT false,
    "customCalendar" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_preferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "daily_horoscope_history" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "targetDate" TIMESTAMP(3) NOT NULL,
    "requestedDay" TEXT NOT NULL,
    "vedic" JSONB NOT NULL,
    "ai" JSONB NOT NULL,
    "response" JSONB NOT NULL,
    "providerSource" TEXT NOT NULL,
    "aiModel" TEXT,
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "daily_horoscope_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AstrologerAvailability" (
    "id" TEXT NOT NULL,
    "astrologerId" TEXT NOT NULL,
    "dayOfWeek" INTEGER NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT true,
    "startTime" TEXT NOT NULL,
    "endTime" TEXT NOT NULL,
    "timezone" TEXT NOT NULL DEFAULT 'Asia/Kolkata',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AstrologerAvailability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_settings" (
    "id" TEXT NOT NULL DEFAULT 'default',
    "platformCommissionPercent" DECIMAL(5,2) NOT NULL DEFAULT 30,
    "videoCallEnabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "platform_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AstrologyQuestionCategory" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "icon" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AstrologyQuestionCategory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AstrologyQuestion" (
    "id" TEXT NOT NULL,
    "categoryId" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "description" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AstrologyQuestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AstrologerQualificationSettings" (
    "id" TEXT NOT NULL DEFAULT 'default',
    "isEnabled" BOOLEAN NOT NULL DEFAULT true,
    "questionCount" INTEGER NOT NULL DEFAULT 10,
    "passingPercentage" DOUBLE PRECISION NOT NULL DEFAULT 70,
    "allowRetake" BOOLEAN NOT NULL DEFAULT true,
    "maxAttempts" INTEGER,
    "retakeCooldownMins" INTEGER NOT NULL DEFAULT 0,
    "randomizeQuestions" BOOLEAN NOT NULL DEFAULT true,
    "randomizeOptions" BOOLEAN NOT NULL DEFAULT false,
    "showScore" BOOLEAN NOT NULL DEFAULT true,
    "showCorrectAnswers" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AstrologerQualificationSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AstrologerQualificationQuestion" (
    "id" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "optionA" TEXT NOT NULL,
    "optionB" TEXT NOT NULL,
    "optionC" TEXT NOT NULL,
    "optionD" TEXT NOT NULL,
    "correctOption" TEXT NOT NULL,
    "category" TEXT,
    "explanation" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AstrologerQualificationQuestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AstrologerQualificationAttempt" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "score" DOUBLE PRECISION NOT NULL,
    "totalQuestions" INTEGER NOT NULL,
    "correctAnswers" INTEGER NOT NULL,
    "passingScore" DOUBLE PRECISION NOT NULL,
    "passed" BOOLEAN NOT NULL,
    "answers" JSONB NOT NULL,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AstrologerQualificationAttempt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PushDevice" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "fcmToken" TEXT NOT NULL,
    "platform" "DevicePlatform" NOT NULL,
    "deviceId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PushDevice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_encryption_devices" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "deviceId" TEXT NOT NULL,
    "publicKey" TEXT NOT NULL,
    "keyVersion" INTEGER NOT NULL DEFAULT 1,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "chat_encryption_devices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserBlock" (
    "id" TEXT NOT NULL,
    "blockerId" TEXT NOT NULL,
    "blockedUserId" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "blockedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "unblockedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserBlock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserReport" (
    "id" TEXT NOT NULL,
    "reporterId" TEXT NOT NULL,
    "reportedUserId" TEXT NOT NULL,
    "callSessionId" TEXT,
    "reason" "UserReportReason" NOT NULL,
    "details" TEXT,
    "status" "UserReportStatus" NOT NULL DEFAULT 'OPEN',
    "resolutionNote" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiReceptionistSession" (
    "id" TEXT NOT NULL,
    "provider" TEXT NOT NULL DEFAULT 'mock',
    "providerSessionId" TEXT,
    "channel" TEXT NOT NULL DEFAULT 'DEMO',
    "status" TEXT NOT NULL DEFAULT 'CREATED',
    "language" TEXT NOT NULL DEFAULT 'AUTO',
    "customerPhone" TEXT,
    "customerUserId" TEXT,
    "failureReason" TEXT,
    "transferReason" TEXT,
    "transferredTo" TEXT,
    "startedAt" TIMESTAMP(3),
    "connectedAt" TIMESTAMP(3),
    "transferredAt" TIMESTAMP(3),
    "endedAt" TIMESTAMP(3),
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AiReceptionistSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiReceptionistMessage" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "providerMessageId" TEXT,
    "sequenceNumber" INTEGER,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AiReceptionistMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LiveSession" (
    "id" TEXT NOT NULL,
    "astrologerId" TEXT NOT NULL,
    "channelName" TEXT NOT NULL,
    "title" TEXT,
    "status" TEXT NOT NULL DEFAULT 'LIVE',
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LiveSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LiveViewer" (
    "id" TEXT NOT NULL,
    "liveSessionId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "leftAt" TIMESTAMP(3),

    CONSTRAINT "LiveViewer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_astro_pricing" (
    "id" TEXT NOT NULL,
    "astrologerId" TEXT NOT NULL,
    "isEnabled" BOOLEAN NOT NULL DEFAULT false,
    "isFree" BOOLEAN NOT NULL DEFAULT false,
    "pricePerQuestion" DECIMAL(12,2),
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ai_astro_pricing_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_astro_usages" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "astrologerId" TEXT NOT NULL,
    "clientRequestId" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "amountCharged" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "isFree" BOOLEAN NOT NULL DEFAULT false,
    "provider" TEXT,
    "model" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ai_astro_usages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_astro_conversations" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "astrologerId" TEXT NOT NULL,
    "startingCategory" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ai_astro_conversations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_astro_messages" (
    "id" TEXT NOT NULL,
    "conversationId" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "category" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ai_astro_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_notifications" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "type" TEXT,
    "data" JSONB,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "app_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "support_tickets" (
    "id" TEXT NOT NULL,
    "ticketNumber" TEXT NOT NULL,
    "customerId" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "description" TEXT,
    "category" "SupportTicketCategory" NOT NULL DEFAULT 'GENERAL',
    "priority" "SupportTicketPriority" NOT NULL DEFAULT 'NORMAL',
    "status" "SupportTicketStatus" NOT NULL DEFAULT 'OPEN',
    "assignedAdminId" TEXT,
    "relatedCallSessionId" TEXT,
    "relatedPaymentId" TEXT,
    "relatedWalletTxnId" TEXT,
    "lastMessageAt" TIMESTAMP(3),
    "customerLastReadAt" TIMESTAMP(3),
    "adminLastReadAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "closedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "support_tickets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "support_messages" (
    "id" TEXT NOT NULL,
    "ticketId" TEXT NOT NULL,
    "senderType" "SupportSenderType" NOT NULL,
    "senderUserId" TEXT,
    "content" TEXT NOT NULL,
    "clientMessageId" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "support_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "assistant_conversations" (
    "id" TEXT NOT NULL,
    "customerId" TEXT NOT NULL,
    "status" "AssistantConversationStatus" NOT NULL DEFAULT 'ACTIVE',
    "supportTicketId" TEXT,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastMessageAt" TIMESTAMP(3),
    "escalatedAt" TIMESTAMP(3),
    "closedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "assistant_conversations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "assistant_messages" (
    "id" TEXT NOT NULL,
    "conversationId" TEXT NOT NULL,
    "senderType" "AssistantSenderType" NOT NULL,
    "senderUserId" TEXT,
    "content" TEXT NOT NULL,
    "provider" TEXT,
    "providerMessageId" TEXT,
    "model" TEXT,
    "clientMessageId" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "assistant_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppConfig" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "shareMessage" TEXT NOT NULL,
    "androidStoreUrl" TEXT,
    "iosStoreUrl" TEXT,
    "websiteUrl" TEXT,
    "aboutTitle" TEXT,
    "aboutDescription" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AppConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedback" (
    "id" TEXT NOT NULL,
    "customerId" TEXT NOT NULL,
    "category" "FeedbackCategory" NOT NULL,
    "rating" INTEGER,
    "message" TEXT NOT NULL,
    "status" "FeedbackStatus" NOT NULL DEFAULT 'NEW',
    "adminNote" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "feedback_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "kundli_saved_records_idempotencyKey_key" ON "kundli_saved_records"("idempotencyKey");

-- CreateIndex
CREATE INDEX "kundli_saved_records_kundliId_idx" ON "kundli_saved_records"("kundliId");

-- CreateIndex
CREATE INDEX "kundli_saved_records_createdByAstrologerId_createdAt_idx" ON "kundli_saved_records"("createdByAstrologerId", "createdAt");

-- CreateIndex
CREATE INDEX "kundli_saved_records_customerUserId_createdAt_idx" ON "kundli_saved_records"("customerUserId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "astrologer_bank_accounts_providerContactId_key" ON "astrologer_bank_accounts"("providerContactId");

-- CreateIndex
CREATE UNIQUE INDEX "astrologer_bank_accounts_providerFundAccountId_key" ON "astrologer_bank_accounts"("providerFundAccountId");

-- CreateIndex
CREATE INDEX "astrologer_bank_accounts_astrologerId_idx" ON "astrologer_bank_accounts"("astrologerId");

-- CreateIndex
CREATE INDEX "astrologer_bank_accounts_isActive_idx" ON "astrologer_bank_accounts"("isActive");

-- CreateIndex
CREATE INDEX "astrologer_bank_accounts_createdAt_idx" ON "astrologer_bank_accounts"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "user_preferences_userId_key" ON "user_preferences"("userId");

-- CreateIndex
CREATE INDEX "user_preferences_userId_idx" ON "user_preferences"("userId");

-- CreateIndex
CREATE INDEX "daily_horoscope_history_userId_targetDate_idx" ON "daily_horoscope_history"("userId", "targetDate");

-- CreateIndex
CREATE INDEX "daily_horoscope_history_generatedAt_idx" ON "daily_horoscope_history"("generatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "daily_horoscope_history_userId_targetDate_key" ON "daily_horoscope_history"("userId", "targetDate");

-- CreateIndex
CREATE INDEX "AstrologerAvailability_astrologerId_idx" ON "AstrologerAvailability"("astrologerId");

-- CreateIndex
CREATE UNIQUE INDEX "AstrologerAvailability_astrologerId_dayOfWeek_key" ON "AstrologerAvailability"("astrologerId", "dayOfWeek");

-- CreateIndex
CREATE UNIQUE INDEX "AstrologyQuestionCategory_slug_key" ON "AstrologyQuestionCategory"("slug");

-- CreateIndex
CREATE INDEX "AstrologyQuestionCategory_isActive_sortOrder_idx" ON "AstrologyQuestionCategory"("isActive", "sortOrder");

-- CreateIndex
CREATE INDEX "AstrologyQuestion_categoryId_isActive_sortOrder_idx" ON "AstrologyQuestion"("categoryId", "isActive", "sortOrder");

-- CreateIndex
CREATE INDEX "AstrologerQualificationQuestion_isActive_sortOrder_idx" ON "AstrologerQualificationQuestion"("isActive", "sortOrder");

-- CreateIndex
CREATE INDEX "AstrologerQualificationQuestion_category_idx" ON "AstrologerQualificationQuestion"("category");

-- CreateIndex
CREATE INDEX "AstrologerQualificationAttempt_userId_idx" ON "AstrologerQualificationAttempt"("userId");

-- CreateIndex
CREATE INDEX "AstrologerQualificationAttempt_userId_passed_idx" ON "AstrologerQualificationAttempt"("userId", "passed");

-- CreateIndex
CREATE INDEX "AstrologerQualificationAttempt_createdAt_idx" ON "AstrologerQualificationAttempt"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "PushDevice_fcmToken_key" ON "PushDevice"("fcmToken");

-- CreateIndex
CREATE INDEX "PushDevice_userId_idx" ON "PushDevice"("userId");

-- CreateIndex
CREATE INDEX "PushDevice_platform_idx" ON "PushDevice"("platform");

-- CreateIndex
CREATE INDEX "PushDevice_isActive_idx" ON "PushDevice"("isActive");

-- CreateIndex
CREATE INDEX "PushDevice_userId_isActive_idx" ON "PushDevice"("userId", "isActive");

-- CreateIndex
CREATE INDEX "chat_encryption_devices_userId_idx" ON "chat_encryption_devices"("userId");

-- CreateIndex
CREATE INDEX "chat_encryption_devices_isActive_idx" ON "chat_encryption_devices"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "chat_encryption_devices_userId_deviceId_key" ON "chat_encryption_devices"("userId", "deviceId");

-- CreateIndex
CREATE INDEX "UserBlock_blockerId_isActive_idx" ON "UserBlock"("blockerId", "isActive");

-- CreateIndex
CREATE INDEX "UserBlock_blockedUserId_isActive_idx" ON "UserBlock"("blockedUserId", "isActive");

-- CreateIndex
CREATE INDEX "UserBlock_createdAt_idx" ON "UserBlock"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "UserBlock_blockerId_blockedUserId_key" ON "UserBlock"("blockerId", "blockedUserId");

-- CreateIndex
CREATE INDEX "UserReport_reporterId_createdAt_idx" ON "UserReport"("reporterId", "createdAt");

-- CreateIndex
CREATE INDEX "UserReport_reportedUserId_status_idx" ON "UserReport"("reportedUserId", "status");

-- CreateIndex
CREATE INDEX "UserReport_callSessionId_idx" ON "UserReport"("callSessionId");

-- CreateIndex
CREATE INDEX "UserReport_status_createdAt_idx" ON "UserReport"("status", "createdAt");

-- CreateIndex
CREATE INDEX "AiReceptionistSession_status_idx" ON "AiReceptionistSession"("status");

-- CreateIndex
CREATE INDEX "AiReceptionistSession_provider_idx" ON "AiReceptionistSession"("provider");

-- CreateIndex
CREATE INDEX "AiReceptionistSession_customerUserId_idx" ON "AiReceptionistSession"("customerUserId");

-- CreateIndex
CREATE INDEX "AiReceptionistSession_customerPhone_idx" ON "AiReceptionistSession"("customerPhone");

-- CreateIndex
CREATE INDEX "AiReceptionistSession_createdAt_idx" ON "AiReceptionistSession"("createdAt");

-- CreateIndex
CREATE INDEX "AiReceptionistSession_startedAt_idx" ON "AiReceptionistSession"("startedAt");

-- CreateIndex
CREATE INDEX "AiReceptionistMessage_sessionId_idx" ON "AiReceptionistMessage"("sessionId");

-- CreateIndex
CREATE INDEX "AiReceptionistMessage_sessionId_createdAt_idx" ON "AiReceptionistMessage"("sessionId", "createdAt");

-- CreateIndex
CREATE INDEX "AiReceptionistMessage_sessionId_sequenceNumber_idx" ON "AiReceptionistMessage"("sessionId", "sequenceNumber");

-- CreateIndex
CREATE UNIQUE INDEX "LiveSession_channelName_key" ON "LiveSession"("channelName");

-- CreateIndex
CREATE INDEX "LiveSession_astrologerId_status_idx" ON "LiveSession"("astrologerId", "status");

-- CreateIndex
CREATE INDEX "LiveSession_status_startedAt_idx" ON "LiveSession"("status", "startedAt");

-- CreateIndex
CREATE INDEX "LiveViewer_liveSessionId_leftAt_idx" ON "LiveViewer"("liveSessionId", "leftAt");

-- CreateIndex
CREATE INDEX "LiveViewer_userId_leftAt_idx" ON "LiveViewer"("userId", "leftAt");

-- CreateIndex
CREATE INDEX "LiveViewer_liveSessionId_userId_idx" ON "LiveViewer"("liveSessionId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "ai_astro_pricing_astrologerId_key" ON "ai_astro_pricing"("astrologerId");

-- CreateIndex
CREATE INDEX "ai_astro_pricing_isEnabled_idx" ON "ai_astro_pricing"("isEnabled");

-- CreateIndex
CREATE INDEX "ai_astro_pricing_isFree_idx" ON "ai_astro_pricing"("isFree");

-- CreateIndex
CREATE INDEX "ai_astro_usages_userId_createdAt_idx" ON "ai_astro_usages"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "ai_astro_usages_astrologerId_createdAt_idx" ON "ai_astro_usages"("astrologerId", "createdAt");

-- CreateIndex
CREATE INDEX "ai_astro_usages_userId_isFree_idx" ON "ai_astro_usages"("userId", "isFree");

-- CreateIndex
CREATE UNIQUE INDEX "ai_astro_usages_userId_clientRequestId_key" ON "ai_astro_usages"("userId", "clientRequestId");

-- CreateIndex
CREATE INDEX "ai_astro_conversations_userId_updatedAt_idx" ON "ai_astro_conversations"("userId", "updatedAt");

-- CreateIndex
CREATE INDEX "ai_astro_conversations_astrologerId_updatedAt_idx" ON "ai_astro_conversations"("astrologerId", "updatedAt");

-- CreateIndex
CREATE INDEX "ai_astro_conversations_userId_astrologerId_idx" ON "ai_astro_conversations"("userId", "astrologerId");

-- CreateIndex
CREATE INDEX "ai_astro_messages_conversationId_createdAt_idx" ON "ai_astro_messages"("conversationId", "createdAt");

-- CreateIndex
CREATE INDEX "app_notifications_userId_idx" ON "app_notifications"("userId");

-- CreateIndex
CREATE INDEX "app_notifications_userId_isRead_idx" ON "app_notifications"("userId", "isRead");

-- CreateIndex
CREATE INDEX "app_notifications_userId_createdAt_idx" ON "app_notifications"("userId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "support_tickets_ticketNumber_key" ON "support_tickets"("ticketNumber");

-- CreateIndex
CREATE INDEX "support_tickets_customerId_createdAt_idx" ON "support_tickets"("customerId", "createdAt");

-- CreateIndex
CREATE INDEX "support_tickets_status_updatedAt_idx" ON "support_tickets"("status", "updatedAt");

-- CreateIndex
CREATE INDEX "support_tickets_priority_status_idx" ON "support_tickets"("priority", "status");

-- CreateIndex
CREATE INDEX "support_tickets_assignedAdminId_status_idx" ON "support_tickets"("assignedAdminId", "status");

-- CreateIndex
CREATE INDEX "support_tickets_lastMessageAt_idx" ON "support_tickets"("lastMessageAt");

-- CreateIndex
CREATE INDEX "support_messages_ticketId_createdAt_idx" ON "support_messages"("ticketId", "createdAt");

-- CreateIndex
CREATE INDEX "support_messages_ticketId_isRead_idx" ON "support_messages"("ticketId", "isRead");

-- CreateIndex
CREATE INDEX "support_messages_senderUserId_idx" ON "support_messages"("senderUserId");

-- CreateIndex
CREATE UNIQUE INDEX "support_messages_senderUserId_clientMessageId_key" ON "support_messages"("senderUserId", "clientMessageId");

-- CreateIndex
CREATE UNIQUE INDEX "assistant_conversations_supportTicketId_key" ON "assistant_conversations"("supportTicketId");

-- CreateIndex
CREATE INDEX "assistant_conversations_customerId_updatedAt_idx" ON "assistant_conversations"("customerId", "updatedAt");

-- CreateIndex
CREATE INDEX "assistant_conversations_status_updatedAt_idx" ON "assistant_conversations"("status", "updatedAt");

-- CreateIndex
CREATE INDEX "assistant_conversations_lastMessageAt_idx" ON "assistant_conversations"("lastMessageAt");

-- CreateIndex
CREATE INDEX "assistant_messages_conversationId_createdAt_idx" ON "assistant_messages"("conversationId", "createdAt");

-- CreateIndex
CREATE INDEX "assistant_messages_conversationId_isRead_idx" ON "assistant_messages"("conversationId", "isRead");

-- CreateIndex
CREATE INDEX "assistant_messages_senderUserId_idx" ON "assistant_messages"("senderUserId");

-- CreateIndex
CREATE UNIQUE INDEX "assistant_messages_senderUserId_clientMessageId_key" ON "assistant_messages"("senderUserId", "clientMessageId");

-- CreateIndex
CREATE UNIQUE INDEX "AppConfig_key_key" ON "AppConfig"("key");

-- CreateIndex
CREATE INDEX "feedback_customerId_createdAt_idx" ON "feedback"("customerId", "createdAt");

-- CreateIndex
CREATE INDEX "feedback_status_createdAt_idx" ON "feedback"("status", "createdAt");

-- CreateIndex
CREATE INDEX "feedback_category_createdAt_idx" ON "feedback"("category", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Review_callSessionId_key" ON "Review"("callSessionId");

-- CreateIndex
CREATE INDEX "Review_astrologerId_idx" ON "Review"("astrologerId");

-- CreateIndex
CREATE INDEX "Review_userId_idx" ON "Review"("userId");

-- CreateIndex
CREATE INDEX "astrologer_earnings_payoutId_idx" ON "astrologer_earnings"("payoutId");

-- CreateIndex
CREATE UNIQUE INDEX "astrologer_payouts_idempotencyKey_key" ON "astrologer_payouts"("idempotencyKey");

-- CreateIndex
CREATE INDEX "astrologer_payouts_bankAccountId_idx" ON "astrologer_payouts"("bankAccountId");

-- CreateIndex
CREATE INDEX "chat_messages_replyToMessageId_idx" ON "chat_messages"("replyToMessageId");

-- AddForeignKey
ALTER TABLE "Review" ADD CONSTRAINT "Review_callSessionId_fkey" FOREIGN KEY ("callSessionId") REFERENCES "CallSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "kundli_saved_records" ADD CONSTRAINT "kundli_saved_records_kundliId_fkey" FOREIGN KEY ("kundliId") REFERENCES "Kundli"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "kundli_saved_records" ADD CONSTRAINT "kundli_saved_records_createdByAstrologerId_fkey" FOREIGN KEY ("createdByAstrologerId") REFERENCES "Astrologer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "kundli_saved_records" ADD CONSTRAINT "kundli_saved_records_customerUserId_fkey" FOREIGN KEY ("customerUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "astrologer_earnings" ADD CONSTRAINT "astrologer_earnings_payoutId_fkey" FOREIGN KEY ("payoutId") REFERENCES "astrologer_payouts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "astrologer_payouts" ADD CONSTRAINT "astrologer_payouts_bankAccountId_fkey" FOREIGN KEY ("bankAccountId") REFERENCES "astrologer_bank_accounts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "astrologer_bank_accounts" ADD CONSTRAINT "astrologer_bank_accounts_astrologerId_fkey" FOREIGN KEY ("astrologerId") REFERENCES "Astrologer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_messages" ADD CONSTRAINT "chat_messages_replyToMessageId_fkey" FOREIGN KEY ("replyToMessageId") REFERENCES "chat_messages"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_preferences" ADD CONSTRAINT "user_preferences_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "daily_horoscope_history" ADD CONSTRAINT "daily_horoscope_history_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AstrologerAvailability" ADD CONSTRAINT "AstrologerAvailability_astrologerId_fkey" FOREIGN KEY ("astrologerId") REFERENCES "Astrologer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AstrologyQuestion" ADD CONSTRAINT "AstrologyQuestion_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "AstrologyQuestionCategory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AstrologerQualificationAttempt" ADD CONSTRAINT "AstrologerQualificationAttempt_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PushDevice" ADD CONSTRAINT "PushDevice_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_encryption_devices" ADD CONSTRAINT "chat_encryption_devices_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserBlock" ADD CONSTRAINT "UserBlock_blockerId_fkey" FOREIGN KEY ("blockerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserBlock" ADD CONSTRAINT "UserBlock_blockedUserId_fkey" FOREIGN KEY ("blockedUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserReport" ADD CONSTRAINT "UserReport_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserReport" ADD CONSTRAINT "UserReport_reportedUserId_fkey" FOREIGN KEY ("reportedUserId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiReceptionistMessage" ADD CONSTRAINT "AiReceptionistMessage_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "AiReceptionistSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiveSession" ADD CONSTRAINT "LiveSession_astrologerId_fkey" FOREIGN KEY ("astrologerId") REFERENCES "Astrologer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiveViewer" ADD CONSTRAINT "LiveViewer_liveSessionId_fkey" FOREIGN KEY ("liveSessionId") REFERENCES "LiveSession"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LiveViewer" ADD CONSTRAINT "LiveViewer_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_astro_pricing" ADD CONSTRAINT "ai_astro_pricing_astrologerId_fkey" FOREIGN KEY ("astrologerId") REFERENCES "Astrologer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_astro_usages" ADD CONSTRAINT "ai_astro_usages_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_astro_usages" ADD CONSTRAINT "ai_astro_usages_astrologerId_fkey" FOREIGN KEY ("astrologerId") REFERENCES "Astrologer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_astro_conversations" ADD CONSTRAINT "ai_astro_conversations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_astro_conversations" ADD CONSTRAINT "ai_astro_conversations_astrologerId_fkey" FOREIGN KEY ("astrologerId") REFERENCES "Astrologer"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ai_astro_messages" ADD CONSTRAINT "ai_astro_messages_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES "ai_astro_conversations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "app_notifications" ADD CONSTRAINT "app_notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "support_tickets" ADD CONSTRAINT "support_tickets_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "support_tickets" ADD CONSTRAINT "support_tickets_assignedAdminId_fkey" FOREIGN KEY ("assignedAdminId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "support_messages" ADD CONSTRAINT "support_messages_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES "support_tickets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "support_messages" ADD CONSTRAINT "support_messages_senderUserId_fkey" FOREIGN KEY ("senderUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assistant_conversations" ADD CONSTRAINT "assistant_conversations_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assistant_conversations" ADD CONSTRAINT "assistant_conversations_supportTicketId_fkey" FOREIGN KEY ("supportTicketId") REFERENCES "support_tickets"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assistant_messages" ADD CONSTRAINT "assistant_messages_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES "assistant_conversations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assistant_messages" ADD CONSTRAINT "assistant_messages_senderUserId_fkey" FOREIGN KEY ("senderUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback" ADD CONSTRAINT "feedback_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

