-- AlterEnum
ALTER TYPE "ChatMessageType" ADD VALUE 'AUDIO';

-- AlterTable
ALTER TABLE "ai_consultant_types" ALTER COLUMN "updatedAt" DROP DEFAULT;

-- AlterTable
ALTER TABLE "chat_messages" ADD COLUMN     "audioDurationMs" INTEGER;

-- RenameIndex
ALTER INDEX "ai_astro_conversations_userId_astrologerId_consultantTypeCode_u" RENAME TO "ai_astro_conversations_userId_astrologerId_consultantTypeCo_idx";

